<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.gimnasio"
    android:versionCode="1"
    android:versionName="1.0" 
    
    >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.gimnasio.SeleccionarMaquinaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".FormularioUsuarioActivity"
            android:label="FormularioUsuarioActivity"
            />
         <activity 
            android:name="com.android.gimnasio.PrincipalActivity"
            android:label="PrincipalActivity"
            />
          <activity 
            android:name="com.android.gimnasio.EjercicioRealizadoActivity"
            android:label="Ejercicio Realizado"
            />
          <activity 
            android:name="com.android.gimnasio.MaquinaEjercicioActivity"
            android:label="Maquina Ejercicio"
            />
          <activity 
            android:name="com.android.gimnasio.SeleccionarDiaActivity"
            android:label="Seleccionar Dia"
            />
          <activity 
            android:name="com.android.gimnasio.MaquinasPorDiaActivity"
            android:label="Maquinas por Dia"
            />
        
    </application>

</manifest>
